@import url("https: //unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


.titillium {
  font-family: "Titillium Web", sans-serif;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
